<p>Вітаємо, {{name}}!</p>
<p>Клацніть нижче, щоб підтвердити свою електронну адресу</p>
<p>
  <a href='{{url}}'>Підтвердити</a>
</p>

<p>Якщо ви не робили цього, можете сміливо ігнорувати цей електронний лист.</p>
